In [2]:
import pandas as pd
import numpy as np 
import requests as rq
import json

In [3]:
# prising_data=rq.get('https://storage.googleapis.com/karmicseed-assessments-data/pricing_data.json')
# competitor_data=rq.get('https://storage.googleapis.com/karmicseed-assessments-data/competitor_data.json')
# historical_data=rq.get('https://storage.googleapis.com/karmicseed-assessments-data/historical_sales.json')
# returns_data=rq.get('https://storage.googleapis.com/karmicseed-assessments-data/returns_data.json')
# inventory_health_data=rq.get('https://storage.googleapis.com/karmicseed-assessments-data/inventory_health.json')
# add_performance_data=rq.get('https://storage.googleapis.com/karmicseed-assessments-data/ads_performance.json')

In [4]:
prising_data=pd.read_csv('Pricing_Data.csv')
competitor_data=pd.read_csv('Competitor_Data.csv')
historical_data=pd.read_csv('Ads_Performance.csv')
returns_data=pd.read_csv('Returns_Data.csv')
pricing_data=pd.read_csv('Pricing_Data.csv')
ads_performance_data=pd.read_csv('Ads_Performance.csv')
inventory_data=pd.read_csv('Inventory_Health.csv')

In [5]:
# print('Pricing Data')
# print(json.loads(prising_data.content)[0])
# print('Competitor Data')
# print(json.loads(competitor_data.content)[0])
# print('Historical Data')
# print(json.loads(historical_data.content)[0])
# print('Return Data')
# print(json.loads(returns_data.content)[0])
# print('Inventory Health Data')
# print(json.loads(inventory_health_data.content)[0])
# print('Add Performance Data')
# print(json.loads(add_performance_data.content)[0])

In [6]:
pricing_data.head()

,SKU,Product_description,Product Role,Country_of_Origin,FBA Fee,Storage Fee,Handling_Cost,Cost,Current_Price,Minimum_Acceptable_Margin_%,Target_Gross_Margin_%
0,MN-01,Rectangle Tray -14 x 10 Inch - Pk of 25,Core,India,$15.11,$0.44,$0.75,$16.00,$38.90,20%,35%
1,MN-02,Rectangle Tray -12x10 - Pk of 25,Core,India,$13.55,$0.30,$0.75,$12.00,$33.90,20%,35%
2,MN-03,Oval Tray -15x10 Inch - Pk of 25,Core,India,$13.94,$0.34,$0.75,$15.00,$34.90,20%,35%
3,MN-04,Oval Tray - 13x9 Inch - pk of 25,Core,India,$12.89,$0.30,$0.75,$12.00,$29.90,20%,35%
4,MN-05,Christmas Tray - 17x12 Inch - Pk of 5,Seasonal,India,$11.80,$0.22,$0.75,$13.00,$21.90,25%,45%

In [7]:
print(pricing_data.shape)
pricing_data.info()

(50, 11)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   SKU                          50 non-null     object
 1   Product_description          50 non-null     object
 2   Product Role                 50 non-null     object
 3   Country_of_Origin            50 non-null     object
 4   FBA Fee                      50 non-null     object
 5   Storage Fee                  50 non-null     object
 6   Handling_Cost                49 non-null     object
 7   Cost                         50 non-null     object
 8   Current_Price                50 non-null     object
 9   Minimum_Acceptable_Margin_%  50 non-null     object
 10  Target_Gross_Margin_%        50 non-null     object
dtypes: object(11)
memory usage: 4.4+ KB

In [8]:
competitor_data.head()

,SKU,Avg_Competitor_Price,Lowest_Competitor_Price,Highest_Competitor_Price,Competitor_Count
0,MN-01,$36.90,$31.95,$44.90,9
1,MN-02,$32.50,$27.90,$39.95,8
2,MN-03,$35.20,$29.99,$42.50,7
3,MN-04,$28.40,$24.50,$35.90,6
4,MN-05,$23.90,$18.95,-,3

In [9]:
print(competitor_data.shape)
competitor_data.info()

(50, 5)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   SKU                       50 non-null     object
 1   Avg_Competitor_Price      49 non-null     object
 2   Lowest_Competitor_Price   50 non-null     object
 3   Highest_Competitor_Price  50 non-null     object
 4   Competitor_Count          50 non-null     int64
dtypes: int64(1), object(4)
memory usage: 2.1+ KB

In [10]:
historical_data.head()

,date,SKU,impressions,clicks,costPerClick,clickThroughRate,cost,spend,currency-code,purchases1d,...,unitsSoldClicks14d,unitsSoldClicks30d,sales1d,sales7d,sales14d,sales30d,acosClicks7d,acosClicks14d,roasClicks7d,roasClicks14d
0,2025-09-01,MN-16,2016,14,1.998,0.694,27.97,27.97,USD,1,...,1,1,18.89,18.89,18.89,18.89,148.067761,148.067761,0.675366,0.675366
1,2025-09-01,MN-15,1810,33,2.062,1.823,68.06,68.06,USD,4,...,6,6,107.45,161.31,161.31,161.31,42.192053,42.192053,2.370115,2.370115
2,2025-09-01,MN-14,613,9,2.850,1.468,25.65,25.65,USD,0,...,1,1,0.00,90.98,90.98,90.98,28.193009,28.193009,3.546979,3.546979
3,2025-09-01,MN-17,1271,3,5.620,0.236,16.86,16.86,USD,2,...,9,9,274.41,274.41,274.41,274.41,6.144091,6.144091,16.275801,16.275801
4,2025-09-01,MN-25,1036,10,4.340,0.965,43.40,43.40,USD,1,...,8,8,218.30,851.24,851.24,851.24,5.098445,5.098445,19.613825,19.613825

In [11]:
print(historical_data.shape)
historical_data.info()

(12777, 25)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12777 entries, 0 to 12776
Data columns (total 25 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   date                12777 non-null  object
 1   SKU                 12777 non-null  object
 2   impressions         12777 non-null  int64
 3   clicks              12777 non-null  int64
 4   costPerClick        9069 non-null   float64
 5   clickThroughRate    12715 non-null  float64
 6   cost                12777 non-null  float64
 7   spend               12777 non-null  float64
 8   currency-code       12777 non-null  object
 9   purchases1d         12777 non-null  int64
 10  purchases7d         12777 non-null  int64
 11  purchases14d        12777 non-null  int64
 12  purchases30d        12777 non-null  int64
 13  unitsSoldClicks1d   12777 non-null  int64
 14  unitsSoldClicks7d   12777 non-null  int64
 15  unitsSoldClicks14d  12777 non-null  int64
 16  unitsSoldClicks30d  12777 non-null  int64
 17  sales1d             12777 non-null  float64
 18  sales7d             12777 non-null  float64
 19  sales14d            12777 non-null  float64
 20  sales30d            12777 non-null  float64
 21  acosClicks7d        4843 non-null   float64
 22  acosClicks14d       4851 non-null   float64
 23  roasClicks7d        9069 non-null   float64
 24  roasClicks14d       9069 non-null   float64
dtypes: float64(12), int64(10), object(3)
memory usage: 2.4+ MB

In [12]:
inventory_data.head()

,SKU,condition,total-inventory,available,inbound-shipped,inbound-received,reserved-quantity,unfulfillable-quantity,inv-age-0-to-30-days,inv-age-31-to-60-days,...,units-shipped-t90,sell-through,item-volume,volume-unit-measurement,storage-type,storage-volume,marketplace,days-of-supply,weeks-of-cover-t30,weeks-of-cover-t90
0,MN-01,New,382.0,264,40,9,68,1,12,261,...,574,1.33,0.546781,cubic feet,Standard,144.350184,US,47,6,7
1,MN-02,New,306.0,206,80,2,18,0,127,91,...,417,1.56,0.373971,cubic feet,Standard,77.038026,US,85,7,8
2,MN-03,New,139.0,95,40,0,3,1,42,8,...,179,1.16,0.425846,cubic feet,Standard,40.455370,US,83,8,9
3,MN-04,New,171.0,70,80,8,13,0,3,84,...,187,1.65,0.375575,cubic feet,Standard,26.290250,US,99,8,10
4,MN-05,New,283.0,0,0,49,234,0,53,141,...,557,1.47,0.270417,cubic feet,Standard,0.000000,US,145,0,1

In [13]:
print(inventory_data.shape)
inventory_data.info()

(50, 28)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 28 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   SKU                      50 non-null     object
 1   condition                50 non-null     object
 2   total-inventory          48 non-null     float64
 3   available                50 non-null     int64
 4   inbound-shipped          50 non-null     int64
 5   inbound-received         50 non-null     int64
 6   reserved-quantity        50 non-null     int64
 7   unfulfillable-quantity   50 non-null     int64
 8   inv-age-0-to-30-days     50 non-null     int64
 9   inv-age-31-to-60-days    50 non-null     int64
 10  inv-age-61-to-90-days    50 non-null     int64
 11  inv-age-181-to-330-days  50 non-null     int64
 12  inv-age-331-to-365-days  50 non-null     int64
 13  inv-age-365-plus-days    50 non-null     int64
 14  currency                 50 non-null     object
 15  units-shipped-t7         50 non-null     int64
 16  units-shipped-t30        50 non-null     int64
 17  units-shipped-t60        50 non-null     int64
 18  units-shipped-t90        50 non-null     int64
 19  sell-through             50 non-null     float64
 20  item-volume              50 non-null     float64
 21  volume-unit-measurement  50 non-null     object
 22  storage-type             50 non-null     object
 23  storage-volume           50 non-null     float64
 24  marketplace              50 non-null     object
 25  days-of-supply           50 non-null     int64
 26  weeks-of-cover-t30       50 non-null     int64
 27  weeks-of-cover-t90       50 non-null     int64
dtypes: float64(4), int64(18), object(6)
memory usage: 11.1+ KB

In [14]:
returns_data.head()

,SKU,Return Quantity \n(Last 7 days),Return Quantity \n(Last 30 days),Return Quantity \n(Last 60 days),Return Quantity \n(Last 90 days)
0,MN-01,0,9,18,26
1,MN-02,0,4,14,24
2,MN-03,1,4,10,13
3,MN-04,1,4,6,16
4,MN-09,0,2,7,11

In [15]:
print(returns_data.shape)
returns_data.info()

(50, 5)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   SKU                              50 non-null     object
 1   Return Quantity
(Last 7 days)   50 non-null     object
 2   Return Quantity
(Last 30 days)  50 non-null     int64
 3   Return Quantity
(Last 60 days)  50 non-null     int64
 4   Return Quantity
(Last 90 days)  50 non-null     int64
dtypes: int64(3), object(2)
memory usage: 2.1+ KB

In [16]:
competitor_data.head()

,SKU,Avg_Competitor_Price,Lowest_Competitor_Price,Highest_Competitor_Price,Competitor_Count
0,MN-01,$36.90,$31.95,$44.90,9
1,MN-02,$32.50,$27.90,$39.95,8
2,MN-03,$35.20,$29.99,$42.50,7
3,MN-04,$28.40,$24.50,$35.90,6
4,MN-05,$23.90,$18.95,-,3

In [17]:
print(competitor_data.shape)
competitor_data.info()

(50, 5)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   SKU                       50 non-null     object
 1   Avg_Competitor_Price      49 non-null     object
 2   Lowest_Competitor_Price   50 non-null     object
 3   Highest_Competitor_Price  50 non-null     object
 4   Competitor_Count          50 non-null     int64
dtypes: int64(1), object(4)
memory usage: 2.1+ KB

In [18]:
historical_data.head()

,date,SKU,impressions,clicks,costPerClick,clickThroughRate,cost,spend,currency-code,purchases1d,...,unitsSoldClicks14d,unitsSoldClicks30d,sales1d,sales7d,sales14d,sales30d,acosClicks7d,acosClicks14d,roasClicks7d,roasClicks14d
0,2025-09-01,MN-16,2016,14,1.998,0.694,27.97,27.97,USD,1,...,1,1,18.89,18.89,18.89,18.89,148.067761,148.067761,0.675366,0.675366
1,2025-09-01,MN-15,1810,33,2.062,1.823,68.06,68.06,USD,4,...,6,6,107.45,161.31,161.31,161.31,42.192053,42.192053,2.370115,2.370115
2,2025-09-01,MN-14,613,9,2.850,1.468,25.65,25.65,USD,0,...,1,1,0.00,90.98,90.98,90.98,28.193009,28.193009,3.546979,3.546979
3,2025-09-01,MN-17,1271,3,5.620,0.236,16.86,16.86,USD,2,...,9,9,274.41,274.41,274.41,274.41,6.144091,6.144091,16.275801,16.275801
4,2025-09-01,MN-25,1036,10,4.340,0.965,43.40,43.40,USD,1,...,8,8,218.30,851.24,851.24,851.24,5.098445,5.098445,19.613825,19.613825

In [19]:
pricing_data.head()

,SKU,Product_description,Product Role,Country_of_Origin,FBA Fee,Storage Fee,Handling_Cost,Cost,Current_Price,Minimum_Acceptable_Margin_%,Target_Gross_Margin_%
0,MN-01,Rectangle Tray -14 x 10 Inch - Pk of 25,Core,India,$15.11,$0.44,$0.75,$16.00,$38.90,20%,35%
1,MN-02,Rectangle Tray -12x10 - Pk of 25,Core,India,$13.55,$0.30,$0.75,$12.00,$33.90,20%,35%
2,MN-03,Oval Tray -15x10 Inch - Pk of 25,Core,India,$13.94,$0.34,$0.75,$15.00,$34.90,20%,35%
3,MN-04,Oval Tray - 13x9 Inch - pk of 25,Core,India,$12.89,$0.30,$0.75,$12.00,$29.90,20%,35%
4,MN-05,Christmas Tray - 17x12 Inch - Pk of 5,Seasonal,India,$11.80,$0.22,$0.75,$13.00,$21.90,25%,45%

In [20]:
# df=historical_data.merge(right=pricing_data,on='SKU')
# df=df.merge(right=inventory_data,on='SKU')
# df=df.merge(right=ads_performance_data,on='SKU')
# df=df.merge(right=competitor_data,on='SKU')
# df=df.merge(right=returns_data,on='SKU')

In [21]:
pricing_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   SKU                          50 non-null     object
 1   Product_description          50 non-null     object
 2   Product Role                 50 non-null     object
 3   Country_of_Origin            50 non-null     object
 4   FBA Fee                      50 non-null     object
 5   Storage Fee                  50 non-null     object
 6   Handling_Cost                49 non-null     object
 7   Cost                         50 non-null     object
 8   Current_Price                50 non-null     object
 9   Minimum_Acceptable_Margin_%  50 non-null     object
 10  Target_Gross_Margin_%        50 non-null     object
dtypes: object(11)
memory usage: 4.4+ KB

In [22]:
pricing_data.head()

,SKU,Product_description,Product Role,Country_of_Origin,FBA Fee,Storage Fee,Handling_Cost,Cost,Current_Price,Minimum_Acceptable_Margin_%,Target_Gross_Margin_%
0,MN-01,Rectangle Tray -14 x 10 Inch - Pk of 25,Core,India,$15.11,$0.44,$0.75,$16.00,$38.90,20%,35%
1,MN-02,Rectangle Tray -12x10 - Pk of 25,Core,India,$13.55,$0.30,$0.75,$12.00,$33.90,20%,35%
2,MN-03,Oval Tray -15x10 Inch - Pk of 25,Core,India,$13.94,$0.34,$0.75,$15.00,$34.90,20%,35%
3,MN-04,Oval Tray - 13x9 Inch - pk of 25,Core,India,$12.89,$0.30,$0.75,$12.00,$29.90,20%,35%
4,MN-05,Christmas Tray - 17x12 Inch - Pk of 5,Seasonal,India,$11.80,$0.22,$0.75,$13.00,$21.90,25%,45%

In [23]:
#data cleaning

In [24]:
cols_prv=pricing_data.columns
cols=[x.lower().replace('_%','').replace('%','').replace(' ','_') for x in pricing_data.columns]
# pricing_data.rename(columns=)
cols_dict=dict(zip(cols_prv,cols))
cols_dict

{'SKU': 'sku',
 'Product_description': 'product_description',
 'Product Role': 'product_role',
 'Country_of_Origin': 'country_of_origin',
 'FBA Fee': 'fba_fee',
 'Storage Fee': 'storage_fee',
 'Handling_Cost': 'handling_cost',
 'Cost': 'cost',
 'Current_Price': 'current_price',
 'Minimum_Acceptable_Margin_%': 'minimum_acceptable_margin',
 'Target_Gross_Margin_%': 'target_gross_margin'}

In [25]:
pricing_data.rename(columns=cols_dict,inplace=True)
pricing_data.head()

,sku,product_description,product_role,country_of_origin,fba_fee,storage_fee,handling_cost,cost,current_price,minimum_acceptable_margin,target_gross_margin
0,MN-01,Rectangle Tray -14 x 10 Inch - Pk of 25,Core,India,$15.11,$0.44,$0.75,$16.00,$38.90,20%,35%
1,MN-02,Rectangle Tray -12x10 - Pk of 25,Core,India,$13.55,$0.30,$0.75,$12.00,$33.90,20%,35%
2,MN-03,Oval Tray -15x10 Inch - Pk of 25,Core,India,$13.94,$0.34,$0.75,$15.00,$34.90,20%,35%
3,MN-04,Oval Tray - 13x9 Inch - pk of 25,Core,India,$12.89,$0.30,$0.75,$12.00,$29.90,20%,35%
4,MN-05,Christmas Tray - 17x12 Inch - Pk of 5,Seasonal,India,$11.80,$0.22,$0.75,$13.00,$21.90,25%,45%

In [26]:
pricing_data[pricing_data['handling_cost'].isna()]['handling_cost']='$0.75'

C:\Users\msoum\AppData\Local\Temp\ipykernel_13828\1659093651.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pricing_data[pricing_data['handling_cost'].isna()]['handling_cost']='$0.75'

In [27]:

currency_cols = ['fba_fee', 'storage_fee', 'handling_cost', 'cost','current_price']
percent_cols = ['minimum_acceptable_margin', 'target_gross_margin']

pricing_data = (
    pricing_data
    .assign(
        **{
            col: pricing_data[col]
                    .astype(str)
                    .str.replace(r'[\$,]', '', regex=True)
                    .astype(float)
            for col in currency_cols
        },
        **{
            col: pricing_data[col]
                    .astype(str)
                    .str.replace('%', '', regex=True)
                    .astype(float)
                    .div(100)
            for col in percent_cols
        }
    )
)

In [28]:
# pricing_data['Minimum_Acceptable_Margin_%']=pricing_data['Minimum_Acceptable_Margin_%'].apply(lambda x:float(x.replace('%',''))/100)
# pricing_data['Minimum_Acceptable_Margin_%']=pricing_data['Minimum_Acceptable_Margin_%'].apply(lambda x:float(x.replace('%',''))/100)

In [29]:
pricing_data.head()

,sku,product_description,product_role,country_of_origin,fba_fee,storage_fee,handling_cost,cost,current_price,minimum_acceptable_margin,target_gross_margin
0,MN-01,Rectangle Tray -14 x 10 Inch - Pk of 25,Core,India,15.11,0.44,0.75,16.0,38.9,0.20,0.35
1,MN-02,Rectangle Tray -12x10 - Pk of 25,Core,India,13.55,0.30,0.75,12.0,33.9,0.20,0.35
2,MN-03,Oval Tray -15x10 Inch - Pk of 25,Core,India,13.94,0.34,0.75,15.0,34.9,0.20,0.35
3,MN-04,Oval Tray - 13x9 Inch - pk of 25,Core,India,12.89,0.30,0.75,12.0,29.9,0.20,0.35
4,MN-05,Christmas Tray - 17x12 Inch - Pk of 5,Seasonal,India,11.80,0.22,0.75,13.0,21.9,0.25,0.45

In [30]:
pricing_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   sku                        50 non-null     object
 1   product_description        50 non-null     object
 2   product_role               50 non-null     object
 3   country_of_origin          50 non-null     object
 4   fba_fee                    50 non-null     float64
 5   storage_fee                50 non-null     float64
 6   handling_cost              49 non-null     float64
 7   cost                       50 non-null     float64
 8   current_price              50 non-null     float64
 9   minimum_acceptable_margin  50 non-null     float64
 10  target_gross_margin        50 non-null     float64
dtypes: float64(7), object(4)
memory usage: 4.4+ KB

In [31]:
pricing_data['current_margin']=(pricing_data['current_price']-(pricing_data['fba_fee']+pricing_data['storage_fee']+pricing_data['handling_cost']+pricing_data['cost']))/pricing_data['current_price']

In [32]:
pricing_data.head()

,sku,product_description,product_role,country_of_origin,fba_fee,storage_fee,handling_cost,cost,current_price,minimum_acceptable_margin,target_gross_margin,current_margin
0,MN-01,Rectangle Tray -14 x 10 Inch - Pk of 25,Core,India,15.11,0.44,0.75,16.0,38.9,0.20,0.35,0.169666
1,MN-02,Rectangle Tray -12x10 - Pk of 25,Core,India,13.55,0.30,0.75,12.0,33.9,0.20,0.35,0.215339
2,MN-03,Oval Tray -15x10 Inch - Pk of 25,Core,India,13.94,0.34,0.75,15.0,34.9,0.20,0.35,0.139542
3,MN-04,Oval Tray - 13x9 Inch - pk of 25,Core,India,12.89,0.30,0.75,12.0,29.9,0.20,0.35,0.132441
4,MN-05,Christmas Tray - 17x12 Inch - Pk of 5,Seasonal,India,11.80,0.22,0.75,13.0,21.9,0.25,0.45,-0.176712

In [35]:
below_acctable_margin=pricing_data[pricing_data['minimum_acceptable_margin']>pricing_data['current_margin']]
len(below_acctable_margin)

41

There are total 41 products which are lagging to accepatable margin and 9 products with over accepatance margin

In [38]:
pricing_data['product_role'].unique()

array(['Core', 'Seasonal'], dtype=object)

So, there are mainly two

50